*,*::after,*::before{
    box-sizing: border-box; 

}





/* Topograthie */

html{
    font-size: 62.5%;
}
:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-headings:#1b0760;
    --color-body: #918ca4;
}
body{
    font-family:'Inter', sans-serif;
    color:var(--color-body) ;
    font-size: 2.4rem; 
    line-height: 1.5;

}
h1,h2,h3{
    color:var(--color-headings) ;
    margin-bottom: 1rem;

}

h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;

}
h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}



@media screen and (min-width:1024px) {


    
h1{
    font-size: 8rem;
}
h2{
    font-size: 4rem;

}
h3{
    font-size: 2.4rem;

}


p{
    font-size: 1.8rem;

}
    
}



/* Links */

a{text-decoration: none;
}


.link-arow{
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arow::after{
    content: '-->';
    margin-left: 5px;
    transition: margin-left 0.1s;
}


.link-arow:hover::after{

        margin-left: 15px;  

}

@media screen and (min-width:1024px) {

    .link-arow{
      
        font-size: 1.5rem;
    }
    
}

/* badges */

.badges{
    border-radius: 35px;
    font-size: 2rem;
    font-weight: 600;
    margin: 200px;
    padding: 0.5rem 2rem;
    white-space: nowrap;
    width:fit-content;

}

.badges__small{
    font-size: 1.6rem;
}



.badges--primary{
    background-color: var(--color-primary);
    color: white;
}


.badges--secondary{
    background-color: var(--color-secondary);
    color: white;
}




@media screen and (min-width:1024px) {
    .badges{
        font-size: 1.5rem;
    }
    .badges__small{
        font-size: 1.2rem;

    }
}


/* Lists */

.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 1rem;
}


.list-tick{
    list-style-image: url('../images/tick.svg');
    padding-left: 3rem;
}
 


.list-tick .list__item{
    margin-bottom: 1.7rem; 
    padding-left: 0.5rem; 
}

@media screen and (min-width:1024px) {

    .list-tick .list__item{

        padding-left:0;
}
}

/* Icons */

.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-headings);
}


.icon-container{
    width: 60px;
    height: 60px;
    display: inline-flex;
    background-color: rgb(231, 231, 231);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

/* buttons */


.button{
    border-radius: 40px;
    color:white;
    cursor: pointer;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.button--primary{
    padding: 1.6rem 9rem;
    letter-spacing: -1px;

    border-color: var(--color-headings);
    color:var(--color-headings);
    background-color: rgb(255, 255, 255);
}
.button--prymary:hover{
    border-color: var(--color-headings);
    color:white;
    background-color:var(--color-headings);
}

.button--accent{
    letter-spacing: -1px;

    padding: 1.6rem 6rem;
    background-color:var(--color-accent);
    border: none;

}
.button--accent:hover{
    background-color: #ec2f00;
}

.button--secondary{
    background-color:var(--color-secondary);
    border: none;
    padding: 1.6rem 6rem;

}

.button--secondary:hover{
    background-color:#09d0f3;

    
}
.button--block{
    width: 100%;
    display: inline-block;
}


@media screen and (min-width:1024px) {
    .button{
        font-size: 1.5rem;
    }    
}